
.info-block-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.info-block-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.info-block {
    width: 66%;
}

.info-block h2 {
    margin-bottom: 20px;
}

.info-block p {
   font-size: 22px;
}