

.info-block-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-block-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.info-block {
    /* background-color: lightblue; */

    width: 66%;
    margin-bottom: 30px;
}

.info-block h2 {
    margin-bottom: 20px;
}

.info-block p {
   
}