
body {
    height: 100%;
}


.links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    margin-top: 40px;
}


.link-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 6px;
    border-radius: 40px;
    
    margin: 10px 33% ;

    font-size: 22px;
    font-weight: light;

    /* background: rgb(204,204,204); */
    /* background: linear-gradient(0deg, rgba(220,220,220,1) 75%, rgba(240,240,240, 1) 94%); */

    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(215, 218, 233, 0.425);
    border: 1px solid rgba(255, 255, 255, 0.125);

    color: #2B2D42;

}

.row-text {
    margin-left: -200px;
    margin-right: -200px;
}

.row-text a:link,
.row-text a:visited{
    color: #2B2D42;
    text-decoration: none;
    transition: color 0.15s;
}

.row-text a:hover {
    color: #EA526F;
}

.row-icon, .copy-icon {
    height: 40px;
    object-fit: cover;

    margin-right: 10px;
    margin-left: 10px;
}

.copy-button {
    background-color: transparent;
    color: transparent;
    border-style: none;
}

.copy-icon {
    height: 25px;
    width: 25px;
}

.copy-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copy-button .copy-tooltip {
    position: absolute;
    margin-left: 70px;
    padding: 8px 12px;
    border-radius: 10px;

    font-size: 14px;
    font-weight: bold;
    color: #2B2D42;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0; 

    pointer-events: none; /* don't show tooltip if hovering tooltip */
    white-space: nowrap; /* disable text wrap */
}

.copy-button:focus .copy-tooltip {
    opacity: 1;
    animation: fadeout 1.2s forwards;
}

.copy-button:visited .copy-tooltip {
    opacity: 0;
}

@keyframes fadeout {
    0% { opacity: 100% }
    50% { opacity: 100% }
    100% { opacity: 0% }
}

