*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url('../images/snowy.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover; /* This property ensures the image covers the entire background */
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    height: 3000px;
}


nav {
    height: 80px;
    background-color: #2B2D42;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 14px 38px;
}

nav a {
    text-decoration: none;
    color: #EDF2F4;
    padding: 0 1.5rem;
    overflow: hidden;
}


.nav-items a:hover, .dropdown:hover .dropbtn {
    text-decoration: none;
    background-color: #EA526F;
}

#logo {
    color: #FF8A5B;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.2rem;
}


/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #EDF2F4;
    padding: 0 1.5rem;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EDF2F4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #2B2D42;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #8D99AE;
    color: #EDF2F4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.headertext {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


/* Colors: 
#FF8A5B
#EA526F
#EDF2F4
#2B2D42
#8D99AE 
*/