
body {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 480px 480px;
    gap: 20px;

    margin-top: 60px;
    justify-content: center;
}


.grid-item {
    height: 300px;
    background-color: #2B2D42;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease;
}

.grid-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-style: none;
}

.grid-item:hover {
    cursor: pointer;
    transform: scale(1.05)
}
